# 开发环境配置 - 使用H2文件数据库，数据持久化
server:
  port: 8082

spring:
  datasource:
    driver-class-name: org.h2.Driver
    # 使用文件模式，数据保存在项目根目录下的 h2db 文件夹
    url: jdbc:h2:file:./h2db/testdb;AUTO_SERVER=TRUE
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      # 使用 update 而不是 create-drop，保留已有数据
      ddl-auto: update
      dialect: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: true
  jackson:
    default-property-inclusion: NON_NULL
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
  web:
    resources:
      static-locations: classpath:/static/
      add-mappings: true

image-server:
  path: ./images


